@tailwind base;
@tailwind components;
@tailwind utilities;

/* should be done inside tailwind app/src/components/common/forms/RadioButtonGroup.tsx */
.radio-group-tbd {
  border: 1px solid red;
}

button.radio-group-tbd[data-state="on"] {
  border: 1px solid blue;
}

.blog h2 {
  font-weight: bold;
}

.blog li {
  @apply mt-2;
}

.blog ul {
  @apply my-6 ml-6 list-disc;
}

.blog ol {
  @apply my-6 ml-6 list-disc;
}
